.switcher {
  button {
    background-color: transparent;
    border: 1px solid var(--text-color); /* Use CSS variable */
    color: var(--text-color); /* Use CSS variable */
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover {
      background-color: var(--text-color); /* Use CSS variable */
      color: var(--background-color); /* Use CSS variable */
    }
  }
}
